name: Continuous Integration
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PROGUARD_GITHUB_TOKEN }}
          path: proguard-main
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PROGUARD_GITHUB_TOKEN }}
          repository: Guardsquare/proguard-core
          ref: github-workflow
          path: proguard-core
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - uses: eskatos/gradle-command-action@v1
        with:
          build-root-directory: proguard-main/
          wrapper-directory: proguard-main/
          arguments: --include-build ../proguard-core/ jar
